<div class="background" id="backgroundAnimation">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
</div>

<style lang="scss">
@import '../scss/var';

@keyframes font-loading { from { opacity: 0; } to { opacity: 1; } }

.background {
  --font-size: 150px;
  position: fixed;
  z-index: 1;
  width: calc(100% + var(--font-size) * 2.5);
  top: calc(var(--font-size) * -.2);
  left: calc(var(--font-size) * -.6);
  pointer-events: none;
  font-family: $font-background;
  font-size: var(--font-size);
  color: $color-primary-light;
  word-break: break-all;
  animation: font-loading 500ms ease;
}
</style>